* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
    border: 1px solid #00bda4 !important;
}

body {
    height: 100vh;
    position: relative;
    line-height: 1.5;
    background-image: url(./library.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #693806;
    background-attachment: fixed;
}

/* footer, credits background image */

footer {
    width: 30vw;
    text-align: right;
    position: absolute;
    bottom: 2em;
    right: 2em;
    color: white;
    text-shadow: 1px 1px 1px black;
}

footer a {
    text-decoration: none;
    color: #4affe7;
}

footer a:hover {
    color: #2c9285;
}

footer a:active {
    color: #04f3d3;
}

/* output, card container */

output {
    position: relative;
    top: 4vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 15px;
    max-height: 85vh;
    overflow-y: scroll;
    padding: 2% 5% 0;
}

/* card style */

.card {
    width: 300px;
    height: max-content; /* Important, make height card be max-content */
    border: 2px solid black;
    border-radius: 15px 5px 5px 15px;
    box-shadow: inset 1px 1px 3px #555,
        1px 1px 3px #555;
    padding: 0.5em 1em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .data-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        135deg,
        #999 ,
        #555 20%,
        #555 70%,
        #444
    );
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0.4em;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 2px black;
}

.card > .data-container > div {
    width: 100%;
    display: flex;
    gap: 1em;
}

.card > .data-container > div > :first-child {
    width: 4em;
    text-align: right;
    font-weight: bold;
}

.card button {
    width: max-content;
    padding: 0.2em 0.5em;
    margin: 0 1em;
    background-color: black;
    color: white;
}

.card::after {
    content: " ";
    width: 1em;
    position: absolute;
    height: 110%;
    top: -2px;
    left: 3%;
    background-image: linear-gradient(
        rgb(255, 72, 0) 80%,
        #492704
    );
}

.card {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

@starting-style {
    .card {
        transform: scale(0);
    }
}

/*  shake animation when a card is modified */

@keyframes shake-card {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-8%);
    }

    80% {
        transform: translateY(5%);
    }
}

/* new-book button */

#new-book {
    font-size: 1.2em;
    width: 7em;
    position: fixed;
    bottom: 2%;
    left: calc(50% - 3.5em);
    padding: 1.2em 0.5em;
    transform-origin: bottom center;
    transition: transform 0.2s ease-in-out;
    background-color: rgb(255, 255, 255, 60%);
    border: 2px solid #444;
    border-radius: 15px;
    box-shadow: inset 1px 1px 3px #555,
        1px 1px 3px #555;
}

#new-book:hover {
    transform: scale(1.2);
}

/* dialog and form */

dialog {
    padding: 1.5em;
    width: 22em;
    height: 14em;
    position: absolute;
    top: calc(50% - 7em);
    left: calc(50% - 11em);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: inset 1px 1px 3px #555,
        1px 1px 3px #555;
}

dialog form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

dialog form > * {
    width: 100%;
}

dialog form label {
    display: inline-block;
    min-width: 4em;
    text-align: right;
}

dialog form p {
    display: flex;
}

dialog form > :last-child, .card > :last-child {
    padding: 1em 0 0;
    justify-content: center;
    gap: 1em;
}

dialog form input:not([type=checkbox]) {
    width: 100%;
}

dialog form input {
    padding: 0.2em 0.5em;
    margin-left: 1em ;
}

dialog form button {
    padding: 0.2em 0.5em;
}

dialog[open] {
    opacity: 1;
    transform: scale(1);
}

dialog {
    opacity: 0;
    transform: scale(0);
    transition: 
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        overlay 0.2s ease-in-out allow-discrete,
        display 0.2s ease-in-out allow-discrete;
}

@starting-style {
        dialog[open] {
            opacity: 0;
            transform: scale(0)
        }
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0%);
    transition: 
        background-color 0.2s ease-in-out,
        overlay 0.2s ease-in-out allow-discrete,
        display 0.2s ease-in-out allow-discrete;
}

dialog[open]::backdrop {
    background-color: rgb(0, 0, 0, 50%);
}

@starting-style {
    dialog[open]::backdrop {
        background-color: rgb(0, 0, 0, 0%);
    }
}

/* button / inputs styles */

form button, .card button {
    padding: 0.4em 0.2em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px #555,
        1px 1px 2px #555;
}

form button:hover, .card button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

form button:active, .card button:active {
    transform: translateY(5px);
    transition: transform 0.1s ease-in-out;
}

button {
    cursor: pointer;
}

input {
    border: 1px solid #444;
}

input[type=checkbox] {
    appearance: none;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

input[type=checkbox]:checked::after {
    transform: scale(1);
}

input[type=checkbox]::after {
    transform-origin: bottom center;
    transform: scale(0);
    transition: transform .2s ease-in;
    content: "X";
    color: black;
    position: absolute;
    font-size: 16px;
    top: 4px;
    left: 5px;
    font-weight: bold;
}
